@import "../../global.css";

.login{
    background-color: rgb(48, 48, 48);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--MessageColorCovered);
}

.login-author{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

.login-highlight{
  position: relative;
  top: 190px;
    color: var(--MessageColorCovered);
}

.login-logo{
    position: absolute;
    top: 50px;
    left: 120px;
    height: 30vmin;
    pointer-events: none;
}

.login-name{
  position: absolute;
  text-align: left;
  font-size: 50px;
  top: 40px;
  left: 360px;
}

/* @media (prefers-reduced-motion: no-preference) {
    .login-logo {
      animation: login-logo-spin infinite 20s linear;
    }
}

@keyframes login-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}   */

