
:root{
    --BackgroundCovered: #282c34;
    --BackgroundUncovered: white;
    --BackgroundMasked: #E9E9E9;

    --MessageColorCovered: white;
    --MessageColorUncovered: black;
    --MessageColorFooter: #fa7233;

    --HighlightColor: yellow;
    --KeyMessageColor: #ff2233;
    --TopbarColor: #61dafb;

    --ApprovedColor: #55EEAA;
    --InvalidColor: #EAEA67;
    --RejectedColor: #EF7788;

    --ButtonColor: #04AA6D;
 
}

.global-message{
    color: var(--KeyMessageColor);
}

.global-link{
    position: relative;
    top: 190px;
    background-color: var(--ButtonColor);
    border-radius: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    color: #ffffff;

}
 
.global-footer{
    text-align: bottom;
    font-size: 100px;
    color: var(--MessageColorFooter);
}

.global-toolbar{
    position: absolute;
    top: 8px;
    left: 170px;
    font-size: 27px;
    color: var(--MessageColorUncovered);
}

.global-button{
    background-color: var(--ButtonColor);
    padding: 15px 32px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
}

.global-logo{
    position: absolute;
    top: 5px;
    left: -110px;
    height: 15vmin;

}

.global-button:hover{
    background-color: #28664a;
}